@import "tailwindcss";

@theme {
  --color-aqua-dark: #1A428A;
  --color-aqua-brand: #009CDE;
  --color-aqua-accent: #66C7C5;
  --color-ripple: #8CC63F;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

